
.popup-form-container {
    position: absolute;
    right: 10px;
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: whitesmoke;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    width: 40%;
    height: 90vh;
    z-index: 9999; 
    overflow-y: auto; 
  }
  
  .popup-form-container form {
    margin-bottom: 10px;
    overflow-y: auto;

    
  }
  
  .popup-form-container label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
    color:black;
    margin-top: 10px;
    
  }
  
  .popup-form-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: black;
    background-color: #fff;
    display: block;
    text-align: center;
   

  }

  .popup-form-container select{
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    border: 1px solid #ccc;
    background-color: white;
    color: black;
    
  }
  
  .popup-form-container textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: black;
  }

  .popup-form-container button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;  
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
  }


  
  .popup-form-container button:hover {
    background-color: #0056b3;
   
  }
  

  .inputWrapper {
   display: flex;
   gap: 10px;
   align-items: center;
   margin-top: 10px;

  }



  @media (max-width: 1920px) {
    .popup-form-container {
      position: absolute;
      right: 10px;
      font-family: Arial, sans-serif;
      padding: 20px;
      background-color: whitesmoke;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
      width: 33%;
      height: 90vh;
      z-index: 9999; 
      overflow-y: auto; 
    }
    
}

