
.navbar {
    background-color: white; 
    color: black; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
   


  }

  h3 {
    font-weight: bold;
  }


  .navbar-left{
    font-size: 24px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 5px;
   
   
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
    margin-top: 8px;
  
  }
  
  /* Style the dropdown */
  .dropdown {
    position: relative;
    display: inline-block;
  
  }
  
  
  .dropbtn {
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    margin-top: auto;
    margin-right: 20px;
    font-weight: bold;
    
  }


  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999;
    transform: translate(-5%);
    right: 0;
    margin-bottom: 5px;
  
  }
  
  .dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
    
  }
  
  .dropdown-content button:hover {
    background-color: whitesmoke;
    font-weight: bold;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .hamburgerIcon {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
    transition: transform 0.2s, opacity 0;
  }
  
  
  .hamburgerIcon .bar1,
  .hamburgerIcon .bar2,
  .hamburgerIcon .bar3 {
    width: 100%;
    height: 3px;
    background-color: black;
    margin: 4px 0;
  }


  .hamburgerIcon.open .bar1 {
    transform: rotate(-40deg) translate(-5px, 5px);
  }
  
  .hamburgerIcon.open .bar2 {
    opacity: 0;
  }
  
  .hamburgerIcon.open .bar3 {
    transform: rotate(40deg) translate(-5px, -5px);
  }


  