/* Home.module.css */
.home {
    background-color: white;
    color: black;
    padding: 20px;
    position: relative;
    width: 100%;
  
}
  
.mapWrapper {
    width: 100%;
    height: calc(100vh - 80px); /* Subtract padding from height to account for button and padding */
    margin-top: 10px;
    position: relative;
    z-index: 1;
}

