/* Home.module.css */
.home {
    background-color: white;
    color: black;
    padding: 20px;
    position: relative;
    width: 100%;
  
}
  
.mapWrapper {
    width: 100%;
    height: calc(100vh - 85px); 
    margin-top: 15px;
    position: relative;
    z-index: 1;
    
}

