* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
}

header {
  background-color: #3c763d;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  color: black;
  font-weight: 300;
  background: whitesmoke;
  width: 100%;
  height: 100%;
}

.container {
  margin: 10% auto;
  padding: 20px 0;
  text-align: center;
  align-content: center;
  width: 30%;
  border: black solid;
  border-radius: 10px;
  background-color: white;

}




.container img {
  margin-bottom: 15px;
}

.container h1 {
  font-size: 40px;
  font-weight: 200;
  margin-bottom: 15px;
  
}

.LoginForm {
  padding: 20px 0;
  position: relative;

}

.LoginFormInput {
  border: 1px solid black;
  background-color: rgba(252, 252, 252, 0.2);
  width: 250px;
  border-radius: 3px;
  font-family: "Source Sans Pro", sans-serif;
  padding: 8px 15px;
  margin: 10px auto 15px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: black;
  font-weight: 300;
}

.loginButton {
  font-size: 18px;
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    will-change: box-shadow, transform;
    /* background: radial-gradient(100% 100% at 100% 0%, #89E5FF 0%, rgb(28 95 147) 100%); */
    /* background:#555555 ; */
    background-color:  #4CAF50;
    padding: 10px 40px;
    margin-top: 10px;
    border-radius: 0.3em;
    color: #fff;
    letter-spacing: 1px;
    height: 2.6em;
    width: 10em;
    text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
    transition: box-shadow 0.15s ease, transform 0.15s ease;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    margin-bottom: 10px;
}

.loginButton:hover {
  background-color: #3e8e41;
}

.alert {
  background-color: #dff0d8;
  color: #3c763d;
  padding: 10px;
  border: 1px solid #d0e9c6;
  margin: 10px 0;
}


.text-marker {
  font-size: 12px;
  color:white;
  font-weight: bold;
  background-color: transparent;
  padding: 4px;
  text-align: center;
  line-height: 1.2;
  pointer-events: none; /* Prevent the marker from blocking interactions */
}

