.popup-form-container {
    position: absolute;
    right: 10px;
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: whitesmoke;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    width: 42%;
    height: 91vh;
    z-index: 9999; 
    overflow-y: auto;
    margin-top: 10px;
   
  }
  
 
  .popup-form-container table {
    border-collapse: collapse;
    width: 100%;
  }

  
  .popup-form-container table th, .popup-form-container table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    white-space: pre-wrap; 
   
  }
  
  .popup-form-container table th {
    background-color: #f2f2f2;
  }

  .popup-form-container table tr {
    background-color: white;
  }

  